*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    a{
        color: unset;
        text-decoration: none;
    
    }
    .container{
        width: 900px;
        max-width: 98vw;
        margin: auto;
        padding-top: 10px;
        text-align: center;
    }
    .title{
        font-size: xx-large;
        padding: 20px 0;
    }
    .listproduct .item img{
        width: 90px;
        filter: drop-shadow(0 50px 20px #0009);
    }
    .listproduct{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 28px;
    }
    .listproduct .item{
        background-color: #eeeee6;
        padding: 20px;
        border-radius: 20px;
    }
    .listproduct .item h2{
        font-size: large;
        font-weight: 500;
    }
    .listproduct .item .price{
        letter-spacing: 7px;
        font-size: small;
    }
    .image img{
        width: 180px;
        filter: drop-shadow(0 50px 20px #0009);
    }
    .reviewimg{
        width: 140px;
         margin: 0px 0px;
        border-radius: 50%;
        border: 2px solid #345858;
    }
    .description{
        margin-bottom: 2rem;
    }
    .reviewname{
        border: none;
        padding: 8px;
        border-radius: 20px;
        width: 100%;
        text-align: center;
        margin: 0px auto;
        display: grid;
    }
    .reviewimg{
        text-align: start;
        border-radius: 50%;
        border: #dce6e6;
        opacity: 98%;
    }

    .reviewspan{text-align: start;}
    .review{
        border: none;
        background-color: #cce8eb;
        color: #345858;
        font-size: xx-large;
        filter: drop-shadow(0 10px 10px #0009);
    }
    /* ipad */
    @media screen and (max-width:992px){
        .listproduct{
            grid-template-columns: repeat(3, 1fr);
        }
    }
    /* for mobile */
    @media screen and (max-width:768px){
        .listproduct{
            grid-template-columns: repeat(2, 1fr);
        }
        
    }